# DEGISKENLER

* SaleId: Satış id

* SaleDate : Satış Tarihi

* Price: Satış için ödenen fiyat

* ConceptName:Otel konsept bilgisi

* SaleCityName: Otelin bulunduğu şehir bilgisi

* CheckInDate: Müşterininotelegirişitarihi

* CInDay:Müşterinin otele giriş günü

* SaleCheckInDayDiff: Check in ile giriş tarihi gün farkı

* Season:Otele giriş tarihindeki sezon bilgisi

#### Görev 1: 
* Aşağıdaki Soruları Yanıtlayınız

In [185]:
#Soru1 : miuul_gezinomi.xlsx dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz..

In [186]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df = pd.read_excel('..\Gezinomi\miuul_gezinomi.xlsx')

<>:4: SyntaxWarning: invalid escape sequence '\G'
<>:4: SyntaxWarning: invalid escape sequence '\G'
C:\Users\Muhammet Enes\AppData\Local\Temp\ipykernel_22880\1220299081.py:4: SyntaxWarning: invalid escape sequence '\G'
  df = pd.read_excel('..\Gezinomi\miuul_gezinomi.xlsx')

In [187]:
print(df.head())

   SaleId   SaleDate CheckInDate  Price     ConceptName SaleCityName  \
0  415122 2022-12-03  2022-12-03  79.30    Herşey Dahil      Antalya
1  415103 2022-12-03  2022-12-03  45.97  Yarım Pansiyon      Antalya
2  404034 2022-09-12  2022-09-13  77.84    Herşey Dahil      Antalya
3  415094 2022-12-03  2022-12-10 222.71  Yarım Pansiyon        İzmir
4  414951 2022-12-01  2022-12-03 140.48  Yarım Pansiyon        İzmir

     CInDay  SaleCheckInDayDiff Seasons
0  Saturday                   0     Low
1  Saturday                   0     Low
2   Tuesday                   1    High
3  Saturday                   7     Low
4  Saturday                   2     Low

In [188]:
print(df.shape)

(59164, 9)

In [189]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB
None

In [190]:
#Soru 2:Kaç unique şehir vardır? Frekanslarınedir?

In [191]:
print(df["SaleCityName"].nunique())
df["SaleCityName"].value_counts()

6

SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64

In [192]:
#Soru 3:Kaç unique Concept vardır?

In [193]:
print(df["ConceptName"].nunique())

3

In [194]:
#Soru4: Hangi Concept’den kaçar tane satış gerçekleşmiş?

In [195]:
df["ConceptName"].value_counts()

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64

In [196]:
#Soru5: Şehirlere göre satışlardan toplam ne kadar kazanılmış?

In [197]:
df.groupby("SaleCityName").agg({"Price": "sum"})

                  Price
SaleCityName
Antalya      2041911.10
Aydın         573296.01
Diğer         154572.29
Girne          27065.03
Muğla         665842.21
İzmir         165934.83

In [198]:
#Soru6: Concept türlerine göre göre ne kadar kazanılmış?

In [199]:
df.groupby("ConceptName").agg({"Price": "sum"})

                    Price
ConceptName
Herşey Dahil   3332910.77
Oda + Kahvaltı  121308.35
Yarım Pansiyon  174402.35

In [200]:
#Soru7: Şehirlere göre PRICE ortalamaları nedir?

In [201]:
df.groupby(by=["SaleCityName"]).agg({"Price": "mean"})

              Price
SaleCityName
Antalya       64.52
Aydın         53.86
Diğer         47.71
Girne         59.48
Muğla         62.46
İzmir         66.27

In [202]:
#Soru 8: Conceptlere göre PRICE ortalamaları nedir?

In [203]:
df.groupby(by=["ConceptName"]).agg({"Price": "mean"})

                Price
ConceptName
Herşey Dahil    62.67
Oda + Kahvaltı  50.25
Yarım Pansiyon  49.03

In [204]:
#Soru 9: Şehir-Concept kırılımındaPRICE ortalamalarınedir?

In [205]:
df.groupby(["SaleCityName", "ConceptName"]).agg({"Price": "mean"})

                             Price
SaleCityName ConceptName
Antalya      Herşey Dahil    64.52
             Oda + Kahvaltı  63.50
             Yarım Pansiyon  67.19
Aydın        Herşey Dahil    54.00
             Oda + Kahvaltı  34.46
             Yarım Pansiyon  30.02
Diğer        Herşey Dahil    84.77
             Oda + Kahvaltı  37.60
             Yarım Pansiyon  42.11
Girne        Herşey Dahil    97.68
             Oda + Kahvaltı  39.78
             Yarım Pansiyon  53.25
Muğla        Herşey Dahil    63.02
             Oda + Kahvaltı  59.04
             Yarım Pansiyon  45.12
İzmir        Herşey Dahil    74.70
             Oda + Kahvaltı  41.32
             Yarım Pansiyon  59.61

### Görev 2: 

* SaleCheckInDayDiff değişkenini "EB_Score" adında yeni bir kategorik değişkene çeviriniz.

* * SaleCheckInDayDiff değişkeni müşterinin CheckIn tarihinden ne kadar önce satin alımını tamamladığını gösterir.
* * Aralıkları ikna edici şekilde oluşturunuz.
Örneğin: ‘0_7’, ‘7_30', ‘30_90', ‘90_max’ aralıklarını kullanabilirsiniz.
* * Bu aralıklar için "Last Minuters", "Potential Planners", "Planners", "Early Bookers“ isimlerini kullanabilirsiniz

In [206]:
bins = [-1, 7, 30, 90, df["SaleCheckInDayDiff"].max()]
labels = ["Last Minuters", "Potential Planners", "Planners", "EarlyBookers"]

df["EB_Score"] = pd.cut(df["SaleCheckInDayDiff"], bins, labels=labels)
df.head(50).to_excel("eb.score.xlsx", index=False)

### Görev 3: 
* COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
* * Şehir-Concept-EB Score, Şehir-Concept- Sezon, Şehir-Concept-CInDay kırılımında ortalama ödenen ücret ve yapılan işlem sayısı cinsinden
inceleyiniz ?

In [207]:
df.groupby(["SaleCityName","ConceptName","EB_Score"]).agg({"Price": ("mean", "count")})

C:\Users\Muhammet Enes\AppData\Local\Temp\ipykernel_22880\3153061912.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["SaleCityName","ConceptName","EB_Score"]).agg({"Price": ("mean", "count")})

                                               Price
                                                mean  count
SaleCityName ConceptName    EB_Score
Antalya      Herşey Dahil   Last Minuters      62.75  14148
                            Potential Planners 64.90   8874
                            Planners           67.88   4490
                            EarlyBookers       66.49   3281
             Oda + Kahvaltı Last Minuters      65.35    503
...                                              ...    ...
İzmir        Oda + Kahvaltı EarlyBookers       66.93      3
             Yarım Pansiyon Last Minuters      57.79    636
                            Potential Planners 64.80    198
                            Planners           60.51     47
                            EarlyBookers       65.91     14

[72 rows x 2 columns]

In [208]:
df.groupby(["SaleCityName","ConceptName","Seasons"]).agg({"Price": ("mean", "count")})

                                     Price
                                      mean  count
SaleCityName ConceptName    Seasons
Antalya      Herşey Dahil   High     64.92  27126
                            Low      61.55   3667
             Oda + Kahvaltı High     66.27    303
                            Low      60.67    295
             Yarım Pansiyon High     73.26    118
                            Low      62.00    138
Aydın        Herşey Dahil   High     54.95  10103
                            Low      33.68    473
             Oda + Kahvaltı High     30.39     27
                            Low      44.45     11
             Yarım Pansiyon High     32.63     20
                            Low      25.27     11
Diğer        Herşey Dahil   High     83.79    364
                            Low      87.31    141
             Oda + Kahvaltı High     34.84    349
                            Low      39.96    408
             Yarım Pansiyon High     39.73    516
                            Low      42.95   1462
Girne        Herşey Dahil   High    103.94     55
                            Low      90.94     51
             Oda + Kahvaltı High     39.48     66
                            Low      40.04     73
             Yarım Pansiyon High     58.38    100
                            Low      48.58    110
Muğla        Herşey Dahil   High     63.38   9582
                            Low      48.30    237
             Oda + Kahvaltı High     61.26    592
                            Low      37.77     62
             Yarım Pansiyon High     45.82    177
                            Low      32.68     10
İzmir        Herşey Dahil   High     74.75   1234
                            Low      74.31    147
             Oda + Kahvaltı High     54.14     86
                            Low      33.56    142
             Yarım Pansiyon High     87.66    118
                            Low      55.35    777

In [209]:
df.groupby(["SaleCityName","ConceptName","CInDay"]).agg({"Price": ("mean","count")})

                                      Price
                                       mean count
SaleCityName ConceptName    CInDay
Antalya      Herşey Dahil   Friday    62.66  4136
                            Monday    63.26  6831
                            Saturday  64.42  4741
                            Sunday    65.85  3818
                            Thursday  62.89  3898
...                                     ...   ...
İzmir        Yarım Pansiyon Saturday  52.50   315
                            Sunday    98.93    68
                            Thursday  52.48    91
                            Tuesday   56.14    73
                            Wednesday 54.06    86

[126 rows x 2 columns]

### Görev 4: 
* City-Concept-Season kırılımının çıktısını PRICE'a göre sıralayınız.
* * Elde ettiğiniz çıktıyı agg_df olarak kaydediniz.

In [210]:
agg_df = df.groupby(["SaleCityName","ConceptName","Seasons"]).agg({"Price":"mean"}).sort_values("Price",ascending=False)
agg_df.head(20)

                                     Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High    103.94
                            Low      90.94
İzmir        Yarım Pansiyon High     87.66
Diğer        Herşey Dahil   Low      87.31
                            High     83.79
İzmir        Herşey Dahil   High     74.75
                            Low      74.31
Antalya      Yarım Pansiyon High     73.26
             Oda + Kahvaltı High     66.27
             Herşey Dahil   High     64.92
Muğla        Herşey Dahil   High     63.38
Antalya      Yarım Pansiyon Low      62.00
             Herşey Dahil   Low      61.55
Muğla        Oda + Kahvaltı High     61.26
Antalya      Oda + Kahvaltı Low      60.67
Girne        Yarım Pansiyon High     58.38
İzmir        Yarım Pansiyon Low      55.35
Aydın        Herşey Dahil   High     54.95
İzmir        Oda + Kahvaltı High     54.14
Girne        Yarım Pansiyon Low      48.58

### Görev 5: 
* Indekste yer alan isimleri değişken ismine çeviriniz.
* * Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz.

In [211]:
agg_df.reset_index(inplace=True)
agg_df.head(20)

   SaleCityName     ConceptName Seasons  Price
0         Girne    Herşey Dahil    High 103.94
1         Girne    Herşey Dahil     Low  90.94
2         İzmir  Yarım Pansiyon    High  87.66
3         Diğer    Herşey Dahil     Low  87.31
4         Diğer    Herşey Dahil    High  83.79
5         İzmir    Herşey Dahil    High  74.75
6         İzmir    Herşey Dahil     Low  74.31
7       Antalya  Yarım Pansiyon    High  73.26
8       Antalya  Oda + Kahvaltı    High  66.27
9       Antalya    Herşey Dahil    High  64.92
10        Muğla    Herşey Dahil    High  63.38
11      Antalya  Yarım Pansiyon     Low  62.00
12      Antalya    Herşey Dahil     Low  61.55
13        Muğla  Oda + Kahvaltı    High  61.26
14      Antalya  Oda + Kahvaltı     Low  60.67
15        Girne  Yarım Pansiyon    High  58.38
16        İzmir  Yarım Pansiyon     Low  55.35
17        Aydın    Herşey Dahil    High  54.95
18        İzmir  Oda + Kahvaltı    High  54.14
19        Girne  Yarım Pansiyon     Low  48.58

### Görev 6: 
* Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
* * Yeni seviye tabanlı satışları tanımlayınız ve veri setine değişken olarak ekleyiniz.
* * Yeni eklenecek değişkenin adı: sales_level_based
* * Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek sales_level_based değişkenini oluşturmanız gerekmektedir

In [212]:
agg_df['sales_level_based'] = agg_df[["SaleCityName", "ConceptName", "Seasons"]].agg(lambda x: '_'.join(x).upper(), axis=1)
agg_df.head(10)

  SaleCityName     ConceptName Seasons  Price            sales_level_based
0        Girne    Herşey Dahil    High 103.94      GIRNE_HERŞEY DAHIL_HIGH
1        Girne    Herşey Dahil     Low  90.94       GIRNE_HERŞEY DAHIL_LOW
2        İzmir  Yarım Pansiyon    High  87.66    İZMIR_YARIM PANSIYON_HIGH
3        Diğer    Herşey Dahil     Low  87.31       DIĞER_HERŞEY DAHIL_LOW
4        Diğer    Herşey Dahil    High  83.79      DIĞER_HERŞEY DAHIL_HIGH
5        İzmir    Herşey Dahil    High  74.75      İZMIR_HERŞEY DAHIL_HIGH
6        İzmir    Herşey Dahil     Low  74.31       İZMIR_HERŞEY DAHIL_LOW
7      Antalya  Yarım Pansiyon    High  73.26  ANTALYA_YARIM PANSIYON_HIGH
8      Antalya  Oda + Kahvaltı    High  66.27  ANTALYA_ODA + KAHVALTI_HIGH
9      Antalya    Herşey Dahil    High  64.92    ANTALYA_HERŞEY DAHIL_HIGH

### Görev 7:
* Yeni müşterileri (personaları) segmentlere ayırınız.
* * Yeni personaları PRICE’a göre 4 segmente ayırınız.
* * Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’e ekleyiniz.
* * Segmentleri betimleyiniz (Segmentlere göre group by yapıp price mean, max, sum’larını alınız).

In [213]:
agg_df["SEGMENT"] = pd.qcut(agg_df["Price"], 4, labels=["D", "C", "B", "A"])
agg_df.head()
agg_df.groupby("SEGMENT").agg({"Price": ["mean", "max", "sum"]})

C:\Users\Muhammet Enes\AppData\Local\Temp\ipykernel_22880\3853505364.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg_df.groupby("SEGMENT").agg({"Price": ["mean", "max", "sum"]})

        Price
         mean    max    sum
SEGMENT
D       33.37  39.48 300.30
C       44.89  54.14 403.99
B       60.27  64.92 542.47
A       82.47 103.94 742.21

### Görev 8:
* Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.
* * Antalya’da herşey dahil ve yüksek sezonda tatil yapmak isteyen bir kişinin ortalama ne kadar gelir kazandırması beklenir?
* * Girne’de yarım pansiyon bir otele düşük sezonda giden bir tatilci hangi segmentte yer alacaktır?

In [214]:
agg_df.sort_values(by="Price")

new_user = "ANTALYA_HERŞEY DAHIL_HIGH"
agg_df[agg_df["sales_level_based"] == new_user]

  SaleCityName   ConceptName Seasons  Price          sales_level_based SEGMENT
9      Antalya  Herşey Dahil    High  64.92  ANTALYA_HERŞEY DAHIL_HIGH       B

In [215]:
new_user = "GIRNE_YARIM PANSIYON_LOW"
agg_df[agg_df["sales_level_based"] == new_user]

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,SEGMENT
19,Girne,Yarım Pansiyon,Low,48.58,GIRNE_YARIM PANSIYON_LOW,C